* {
    box-sizing: border-box;
    font-family: 'Abhaya Libre', Capriola, Comfortaa, serif;
}

header{
    text-align:center;
}

form{
    text-align:center;
}

form section{
    display: inline-block;
    border: 2px solid black;
    width:90%;
    vertical-align:top;
    text-align: center;
}

h1{
   font-family: Capriola;
}

h2{
    font-family: Comfortaa;
}

section h3{
    font-family: Capriola;
    font-size: 24px;
}

h4{
    font-family: Comfortaa;
    font-size: 20px;
}

p{
    font-size: 20px;
}

label, select, .queries{
    margin-bottom: 5px;
    font-size:14px;
    font-family: Comfortaa;
    width:40%;
    height:60px;
}

.queries{
    font-size: 40px;
    width:50%;
}

select{
    -webkit-appearance: menulist-button;
    height: 60px;
    font-size:36px;
}

option{
    font-size: 20px;
    font-family: Comfortaa;
}

.recipeResults{
    margin-left: 5%;
}

.recipeResults img{
    background-size: cover;
}

.cleanPantry [type='text']{
    width:45%;
    margin:2%;
    height: 60px;
    font-size: 45px;
}

.searcher{
    font-family:'Abhaya Libre';
    font-size:32px;
    height: 50px;
    width: 70%;
}

.errorText{
    color: red;
}

footer{
    margin-left: 5px;
    font-size: 12px;
}